<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag("meta", name: "turbo-etag", content: response.etag) if response.etag.present? %>

    <%= javascript_importmap_tags "turbo_diff" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
